@import "./reset.scss";
@import "./variables.scss";
@import "./mixin.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $dark-color;
  color: $white-color;
}
