@mixin for-phone-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin for-tablet-only {
    @media (max-width: 1199px) {
      @content;
    }
  }

  @mixin for-desktop-only {
    @media (min-width: 1200px) {
      @content;
    }
  }
  