$primary-color: #00b1ca;
$secondary-color: #05151a;
$white-color: #ffffff;
$dark-color: #333b47;
$green-color: #66ae4a;
$gray-color: #a8a8a8;

$h1-size: 40px;
$h2-size: 32px;
$h3-size: 24px;
$h4-size: 18px;
$h5-size: 16px;
$h6-size: 14px;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  whiteColor: $white-color;
  greenColor: $green-color;
  darkColor: $dark-color;
}

// Slick Slider Custom

.slick-next,
.slick-prev {
  z-index: 50 !important;
}

.slick-prev {
  left: 20px !important;
}

.slick-next {
  right: 20px !important;
}

.slick-dots li button:before {
  color: $white-color !important;
}
