.global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  background-color: #282c34;
  gap: 10px;

  .banner {
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  h2 {
    font-size: 38px;
  }

  b {
    font-size: 26px;
  }

  a {
    color: wheat;
    font-size: 22px;
  }
}
