@import "../../../../package/asset/style/variables.scss";

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;

  .button {
    cursor: pointer;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    color: $dark-color;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
      color: $white-color;
    }
  }

  .ellipsis {
    padding: 8px 12px;
    margin: 0 4px;
    font-size: 14px;
    color: $white-color;
  }
}

.active {
  background-color: blue;
  color: $white-color !important;
  border-color: #007bff;
}

.left {
  justify-content: start;
  width: 100%;
  display: flex;
}
.center {
  justify-content: center;
  width: 100%;
  display: flex;
}
.right {
  justify-content: end;
  width: 100%;
  display: flex;
}
