@import "../../../../package/asset/style/variables.scss";
@import "../../../../package/asset/style/mixin.scss";

.header {
  width: 100%;
  padding: 10px 40px;
}
.backButton {
  color: $white-color;
  font-size: $h2-size;
}
.filter {
  padding: 10px 40px;
}
.content {
  padding: 10px 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  @include for-tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mobile {
  display: none !important;

  @include for-tablet-only {
    display: none !important;
  }
  @include for-phone-only {
    display: block !important;
  }
}

.web {
  display: grid !important;

  @include for-phone-only {
    display: none !important;
  }
}

.container {
  background-color: $gray-color;
  width: 100%;
  position: relative;
  border-radius: 12px;

  .banner {
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .contentInfo {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .statusContainer {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    h3 {
      color: $dark-color;
      width: 100%;
      font-weight: bold;
      font-size: $h3-size;
    }

    .status {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

.notFound {
  text-align: center;
  margin-top: 50px;
}

.notFound img {
  width: 150px;
  margin-top: 50px;
}

.filterHeader {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 40px;

  @include for-phone-only {
    flex-wrap: wrap;
  }

  @include for-tablet-only {
    flex-wrap: wrap;
  }

  a {
    color: $white-color;
    text-decoration: underline;
    font-size: $h4-size;

    @include for-phone-only {
      padding-left: 40px;
    }

    @include for-tablet-only {
      padding-left: 40px;
      font-size: $h2-size;
      margin: 30px 0;
    }

    &:hover {
      color: $primary-color;
    }
  }

  b {
    padding: 0 40px;
  }
}

.filter.active {
  background-color: $gray-color !important;
}

.filterContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 10px;
  padding: 0 40px;

  @include for-phone-only {
    flex-wrap: wrap;
  }

  @include for-tablet-only {
    flex-wrap: wrap;
  }

  .filter {
    background: none;
    border: solid 1px $white-color;
    border-radius: 8px;
    color: $white-color;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.4);
    }

    &:nth-child(1) {
      .status {
        background-color: #ff5157;
      }
    }
    &:nth-child(2) {
      .status {
        background-color: #00ab86;
      }
    }
    &:nth-child(3) {
      .status {
        background-color: #cecece;
      }
    }
  }

  .statusContainer {
    display: flex;
    gap: 10px;
    align-items: center;

    .status {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

.detailSection {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  gap: 40px;

  @include for-tablet-only {
    grid-template-columns: 2fr 2fr;
  }
  @include for-phone-only {
    grid-template-columns: 1fr;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;

    .banner {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 4 / 3;
      object-position: top;
    }
  }
  .subCharacterInfo {
    h2 {
      font-size: $h1-size;
      margin-bottom: 10px;
    }

    .speciesInfo {
      display: flex;
      justify-content: space-between;
    }
  }
  .statusContainer {
    display: flex;
    gap: 10px;
    align-items: center;

    .status {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  .origin {
    margin-top: 10px;
  }

  .otherCharacters {
    h2 {
      margin: 10px 20px;
      font-size: 26px;
      text-decoration: underline;
    }
  }

  .otherCharactersList {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    max-height: 85vh;
  }

  .skeletonImage {
    width: 100%;
    border: solid 1px $gray-color;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4 / 3;

    background: linear-gradient(110deg, #585858 8%, #4f4f4f 18%, #585858 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .skeletonInfo {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    h2,
    p {
      background: linear-gradient(110deg, #585858 8%, #4f4f4f 18%, #585858 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      height: 30px;
    }
  }
}

.skeletonImagefpo path {
  fill: $gray-color;
}

.favoriteButton {
  width: 40px;
  height: 40px;
  background-color: $white-color;
  color: $dark-color;
  font-size: $h3-size;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 15px;
  color: #ff5157;

  &:hover {
    background-color: #cecece;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.otherCharactersContainer {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  transition: ease 0.2s all;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
    transition: ease 0.2s all;
  }
}
.otherCharactersInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-size: 20px;
    color: $gray-color;
    text-decoration: none;
  }

  b {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  h5 {
    color: #eee;
    text-decoration: none;
  }
}

.sliderButton {
  background: $white-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .next {
    right: 10px;
  }
  .prev {
    left: 10px;
  }
}
