@import "../../../../package/asset/style/variables.scss";
@import "../../../../package/asset/style/mixin.scss";

.welcome {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: -1;
  padding: 10px 40px;
  background: linear-gradient(
      180deg,
      rgba(51, 59, 71, 0.8) 20%,
      rgba(51, 59, 71, 0.7) 47%,
      rgba(51, 59, 71, 0.9) 81%,
      rgba(51, 59, 71, 1) 100%
    ),
    url(../image/welcome-banner.png);
  background-size: cover;
  background-position: center top;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    z-index: -1;
    opacity: 0.6;
    top: 0;
  }
}


.content {
  display: grid;
  gap: 30px;
  margin-top: 50px;
  z-index: 50;
  padding: 0 40px;
  grid-template-columns: repeat(4, 1fr);

  @include for-tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
}
