@import "../../../../../package/asset/style/variables.scss";

.container {
  width: 100%;
  border-radius: 6px;
  position: relative;
  padding: 16px;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  border: 1px solid $primary-color;
  cursor: pointer;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in-out;
  }

  &::before {
    top: -5px;
    left: -5px;
    border-top: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
  }

  &::after {
    right: -5px;
    bottom: -5px;
    border-bottom: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
  }

  &:hover::before,
  &:hover::after {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
  }

  &:hover {
    background-color: #ffffff10;
    transition: linear 0.2s all;
  }

  .action {
    position: absolute;
    right: 16px;
    color: $white-color;
    &:hover {
      cursor: pointer;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    &:hover {
      cursor: pointer;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      text-transform: uppercase;
      color: $gray-color;
      text-decoration: none;
    }

    b {
      color: $white-color;
      text-decoration: none;
      font-size: $h6-size;
    }
  }

}
