@import '../../../asset/style/variables.scss';

.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: $green-color;
  font-size: $h3-size;
  align-items: center;
}
