@import "../../../../package/asset/style/variables.scss";

.toast {
  position: fixed;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: auto;

  strong {
    margin-bottom: 8px;
    display: block;
  }

  &.visible {
    opacity: 1;
  }

  &.success {
    background-color: $green-color;
    color: #ffffff;
  }

  &.error {
    background-color: #ef4444;
    color: #ffffff;
  }

  &.info {
    background-color: #3b82f6;
    color: #ffffff;
  }

  &.warning {
    background-color: #f59e0b;
    color: #1f2937;
  }

  &.top {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.top-left {
    top: 30px;
    left: 30px;
  }

  &.top-right {
    top: 30px;
    right: 30px;
  }
}

.toastsContainer {
  position: absolute;
}
