@import "../../asset/style/variables.scss";

.cards {
  display: flex;
}

.card {
  margin: 10px;
  width: 100%;
  background: $gray-color;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .content {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.card.isLoading {
  .image,
  h2,
  p {
    background: linear-gradient(110deg, #585858 8%, #4f4f4f 18%, #585858 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .image {
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  h2 {
    height: 30px;
  }

  p {
    height: 70px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
